.main-content {
	display: flex;
	flex-direction: column;
	font-family: 'Pattaya', sans-serif;
	font-size: 200%;
}

#intro {
	margin-top: 2%;
	width: 100%;
	height:200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#skills {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 2%;
	width: 50%;
}
